<!-- collections.html -->
{% extends 'base.html' %}
{% block title %}
Collections
{% endblock title %}
{% block content %}
<div class="container">
    <section class="py-5 text-center container" style="margin-top:70px;">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Best Sellers</h1>
                <p class="lead text-muted">Our Most Trending Product. Hourly Updates</p>
                <a href="{% url 'login' %} " class="btn btn-primary my-2">Already User</a>
                <a href="{% url 'register' %}" class="btn btn-primary my-2">Register</a>
            </div>
        </div>
    </section>
    <section class="bg-light py-4 my-5">
        <div class="container">
            <div class="row py-lg-5">
                <div class="col-12">
                    <h4 class="mb-3">Category</h4>
                    <hr style="border-color:#b8bfc2;">
                </div>
                {% for item in Category %}
                <div class="col-md-4 col-lg-3">
                    <div class="card my-3">
                        <img src="{{ item.image.url }}" class="card-img-top" alt="Categories">
                        <a href="{% url 'item_view' item.Name %}">
                        <div class="card-body">
                            <h5 class="card-title text-primary">{{ item.Name }}</h5>
                            <p class="card-text">{{ item.description }}</p>
                        </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</div>
{% endblock content %}
